name: Prebuild

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  prebuild:
    strategy:
      matrix:
        arch: [x64, arm64]
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          
      - run: npm install --ignore-scripts
      
      - run: npx prebuildify --napi --strip --arch ${{ matrix.arch }}
      
      - uses: actions/upload-artifact@v4
        with:
          name: prebuilds-darwin-${{ matrix.arch }}
          path: prebuilds/
